@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);
.container{
    height: 100vh;
    background-image:url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    display: flex;
}

.text{
    padding: 0 4rem;
    margin-left: auto;
    margin-top: 13%;
}

.container h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.container h3{
    font-size: 1.2rem;
}