.card{
    /* width: 33%; */
    /* display: inline-block;  */
    flex: 0 0 200px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    height: 31vh;
}

/* img{
    height: 30vh;
    width: 75%;
} */

img{
    max-width: 100%;
}

.card h4{
    color: black;
    margin-left: 1em;
}

.card h5{
    color: black;
    margin-left: 1em;
}